<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {# Affichage du titre de la page venant de la vue, suivi du nom du site collé à côté #}
    <title>{% block title %}{% endblock %} - Le Blog de Batman</title>

    {# Bloc pour ajouter des fichiers CSS additionnels #}
    {% block css %}{% endblock %}
</head>
<body>

    {# Bloc pour afficher le contenu des pages #}
    {% block body %}{% endblock %}

    {# Bloc pour ajouter des fichiers JS additionnels #}
    {% block js %}{% endblock %}
</body>
</html>